#skills{
    background-color: white;
    max-width: 80%;
    margin: 5% auto;
    padding-top: 1%;
    border-radius:10px;
    padding-bottom: 10px;
    box-shadow: var(--shadow)
    
  
  }
  #skills h2{
   margin: 2% auto;
  }
  
 .skills-display{
    width:100%;
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
 }

 .skills-type{
    min-width: 33%;
 }
  
  .skill{
    
  }


@media screen and (max-width:500px){
  
    #skills{
        max-width: 95%;
    }
   
  }